In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a':[1,2,3,1,2,3,1,2,3], 'b':[1,2,3,4,5,6,7,8,9]})

In [3]:
df

   a  b
0  1  1
1  2  2
2  3  3
3  1  4
4  2  5
5  3  6
6  1  7
7  2  8
8  3  9

In [6]:
df['c'] = df.groupby('a')['b'].sum()

   a  b     c
0  1  1   NaN
1  2  2  12.0
2  3  3  15.0
3  1  4  18.0
4  2  5   NaN
5  3  6   NaN
6  1  7   NaN
7  2  8   NaN
8  3  9   NaN

In [9]:
ef = pd.DataFrame({'a':[1,2,3,1,2,3,1,2,3], 'b':[1,2,3,4,5,6,7,8,9]})
ef.set_index('a',inplace=True)

In [11]:
ef['c'] = ef.groupby(level=0)['b'].sum()

In [13]:
ef.reset_index(inplace=True)

In [14]:
ef

   a  b   c
0  1  1  12
1  2  2  15
2  3  3  18
3  1  4  12
4  2  5  15
5  3  6  18
6  1  7  12
7  2  8  15
8  3  9  18

In [15]:
ef['d'] = list(range(len(ef)))

In [16]:
ef

   a  b   c  d
0  1  1  12  0
1  2  2  15  1
2  3  3  18  2
3  1  4  12  3
4  2  5  15  4
5  3  6  18  5
6  1  7  12  6
7  2  8  15  7
8  3  9  18  8